
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: beige;
}

h3 {
    font-family: Dingbats, serif
}

h1 {
    text-shadow: brown;
    color: darkred
}

h2 {
    font-family: "Ubuntu Light", serif;
    color: crimson
}